$maincolor: black;
$contrastcolor: white;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}



footer {
  background-color: $maincolor;
  height: 8rem;
  width: 100%;
  margin: auto;
  margin-top: 3rem;
  align-items: center;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 10rem;
  padding: 2rem!important;
     a {
       color: $contrastcolor;
       width: 100%;
       margin-right: 2rem;
     }
}



// --------------------------
// images
// --------------------------

img {
    width: 50rem;
    border: 1px solid $maincolor;
    object-fit: cover;
  }
  